.btn-blue{
	background-color: #313E17;
	padding: 15px 20px;
	border-radius: 4px ;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
  background-color: #2c67b1;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
