.cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #18230F;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 15px rgba(0,0,0,0.8);
  border-radius: 6px;
  flex: 0 0 calc(45%); 
  text-align: center; 
  flex-direction: column; 
  box-sizing: border-box;
  flex-basis:400px;
}

.card img {
  width: 100%; 
  height: 150px;
  object-fit: contain; 
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
}